/* --------------------------------*/
/* -----> Custom Properties <----- */
/* ------------------------------- */

:root {
  --first-color: #ff4c00;
  --first-color-opacity: rgba(255, 76, 0, 0.75);
  --container-background-test: rgba(199, 16, 16, 0.25);
  --second-color: #273b47;
  --second-color-opacity: rgba(39, 59, 71, 0.5);
  --third-color: #1c3643;
  --third-color-opacity: rgba(28, 54, 67, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-color-opacity: rgba(255, 255, 255, 0.5);
  --black-color-opacity: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --font2: "Alex Brush", cursive;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ------------------------------*/
/* ----->      Reset      <----- */
/* ----------------------------- */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}
/* --------------------------------*/
/* ----->      Utilities    <----- */
/* ------------------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  /* background: var(--container-background-test); */
}

/* Clase para ocultar el Botón Close en modo Responsive */
.none {
  display: none;
}

/* Botón utilitario de "Contáctame" */
.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
.about > article > aside > h1 {
  font-size: 1.5rem;
}
.gray-scale {
  filter: grayscale(1);
}
/* Se crearán algunas clases utilitarias para cuadrar los textos de la 
sección "Acerca", unos hacia la izquierda, otros a la derecha y el resto al centro  */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.section {
  padding: 6rem 1rem 2rem 1rem;
}
.about > article {
  margin-bottom: 2rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}
.background-service-cards {
  background-color: var(--gray-light-color);
}

/* Definición de los Media Queries para los UTILITIES al estilo Bootstrap */

@media screen and (min-width: 1024px) {
  .about > article > aside > h1 {
    font-size: 2rem;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .contact-form .btn {
    width: 200px;
  }
}
/*  FIN de los Media Queries */

/* --------------------------------*/
/* ----->     Components    <----- */
/* ------------------------------- */

/* Menu */

.menu-btn {
  border: 0;
  cursor: pointer;
  background-color: var(--third-color);
  /* outline: thin solid var(--first-color); */
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
/* La clase "is-active" será agregada a la clase ".menu"   */
/* mediante Javascript, para hacer aparecer el menu en modo mobile */
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}
.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

/*  HeroImage */
/*  --------- */

.hero-image-home {
  background-image: url("./../img/hero-image-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  /* Las próximas cuatro instrucciones hacen un centrado perfecto SOLO del contenido dentro del contenedor No.2 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7vw;
  color: var(--hero-text-color);
}

/*  ProgressBar */
/*  ----------- */

progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}
/* Compatibilidad con IE/Safari */
progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}
/* Compatibilidad con Firefox */
progress::-moz-progress-bar {
  background-color: var(--gray-dark-color);
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

/* Definición de la ventana Modal  */

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-alpha-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/*  Carousel */
/*  -------- */

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }
}

.carousel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  background-color: var(--carousel-bg-color);
  overflow-x: hidden;
}
.carousel input {
  display: none;
}

.carousel label {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.25rem;
}

/* Por cada slice que tengas, tienes que sumarle un 100% al width (4x100%): 400% */
.carousel .slides {
  width: 400%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 12s ease-in-out 3s;
  padding-left: 0;
}
/* Estas 4 instrucciones mueven manualmente los slices hacia la izquierda (hacen el carousel) */
#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

/* Las siguientes instrucciones rellenan los circulos de los slides */
#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-color);
}

/*  Formulario de Contacto */
/*  ---------------------- */

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input[type="text"] {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}
.contact-form input[type="email"] {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

/* Definición de los Media Queries para los COMPONENTES */
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
    font-size: 1rem;
  }

  /* Este es algo obsesivo-compulsivo de Jon Mirscha */
  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}
/*  FIN de los Media Queries */

/* --------------------------------*/
/* ----->     Site Styles   <----- */
/* ------------------------------- */

/* Zona de cabecera */

/* se fija la cabecera al final; OJo! solo en version mobile */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--second-color);
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  color: var(--first-color);
  font-weight: bold;
  /* font-size: 2rem; */
  text-decoration: none;
  font-family: var(--font2);
}
/* Zona de servicios */
.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card h3 {
  color: var(--title-color);
}

.service-card svg {
  margin-bottom: 1.25rem;
  fill: var(--first-color);
}

/* Zona de Portafolio */
.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-color-opacity);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}
.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease-in-out;
}

.portfolio-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--first-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--first-color);
}

/* Zona de Testimonios */
.hero-image-testimonials {
  background-image: url("./../img/hero-image-customers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.fotoAvatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.text-first-color {
  color: var(--first-color);
}

/* Zona de contacto */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.contact-card > small {
  margin-top: -1rem;
}
.social-media a {
  padding: 0 0.4rem;
  text-decoration: none;
}

.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}
.contact-form-loader {
  display: none;
}

.footer {
  color: var(--white-color);
  background-color: var(--third-color);
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
}
.footer a {
  color: var(--first-color);
  font-size: 1rem;
}
.footer a span {
  color: var(--white-color);
  /* font-size: 0.7rem; */
  font-family: var(--font2);
  /* font-style: italic; */
}

/* Definición de los Media Queries para EL SITIO en GENERAL */
@media screen and (min-width: 768px) {
  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
  .services .section-title {
    grid-column: span 2;
  }
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .portfolio .section-title {
    grid-column: span 2;
  }
  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
    align-self: center;
  }
  .portfolio-info {
    margin: 1rem;
  }
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  /* se fija la cabecera al principio; OJo! solo en version desktop */
  .header {
    position: sticky;
    top: 0;
    padding: 1rem;
    /* height: calc(var(--header-height)-0.5rem); */
  }
  .logo a {
    font-size: 2rem;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }
  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }
  .services .section-title {
    grid-column: span 3;
  }
  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .section-title {
    grid-column: span 3;
  }
  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }

  .footer {
    margin-bottom: 0;
  }
}

/*  FIN de los Media Queries */
